In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from openpyxl import load_workbook
import timeit
# read RData
# import pyreadr
import re
import gc
# read & write xlsx
import openpyxl

import glob
import zipfile
from zipfile import ZipFile
import os
from os.path import basename
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.max_colwidth = 4000;
# pd.set_option('display.max_colwidth', None)

# print all lines:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

def wsht():
    return load_workbook(path).sheetnames

def dom(shn):
    return pd.read_excel(path, sheet_name=shn)

def L(x ):
    return set(x['File_Name'])

# from PAT_Helper import*

# from PAT_func import*

# %run -i "PAT_Helper.py" 
# %run -i "PAT_func.py" 

# %run -i "PAT_Helper1.py" 
# %run -i "PAT_func1.py" 
import warnings
warnings.filterwarnings("ignore")

import statsmodels.api as sm
import matplotlib.pyplot as plt

In [55]:
def read_all_worksheet(file_path):
    xls = pd.ExcelFile(file_path)
    sheet_names = xls.sheet_names
    return sheet_names


#     data = {}
#     for sheet_name in sheet_names:
#         data[sheet_name] = pd.read_excel(xls, sheet_name)
#     return data

In [56]:
file_path = 'U Vermont_2023_01_02_v1_Metrics_Aziz.xlsx'
sheetnames=read_all_worksheet(file_path)
sheetnames

['Unique and Total Records',
 'Avalable PAMPI Records',
 'Imm_IC_ICS_Ltn_Text_date',
 'Imm_Text_Ctgry',
 'Med_MC_MCS_Ltn_T',
 'Med_Status',
 'Med_text_SIG',
 'top3_Imm',
 'top3_DME',
 'top3_Medications_No_SIG',
 'Allergy_SbCS',
 'Problem_CS',
 'Problem_Text_Category',
 'Procedure CS',
 'Procedure_CSN_Value',
 'Result_TestText_CS']

In [57]:
def data(sheet_name):
    return pd.read_excel(xls, sheet_name)

In [97]:
doc = data('Unique and Total Records')
doc = doc.loc[doc['Domain'] != 'Social History']
doc

         Domain Unique Patient Total Records  %_Trans_Code_in_Total_Records
0      Document          1,093         1,094                            NaN
1  Immunization            274         3,964                       0.102170
2    Medication            527        10,819                       1.000000
3       Allergy            512           877                       0.494869
4       Problem            432         4,077                       0.989698
5     Procedure            580        30,284                       0.000000
7   Vital Signs            378         3,045                       0.000000
8        Result            541        60,363                       1.000000

In [100]:
doc['doc_order'] = [1 if i=="Document" else 2 if i=='Allergy' else 3 if i=='Immunization' else
                    4 if i=='Medication' else 5 if i=='Problem' else 6 if i=='Procedure' else 
                    7 if i=='Result' else 8                       
                    for i in doc.Domain]
doc = doc.sort_values(by='doc_order')
doc

,Domain,Unique Patient,Total Records,%_Trans_Code_in_Total_Records,doc_order
0,Document,"1,093","1,094",NaN,1
3,Allergy,512,877,0.494869,2
1,Immunization,274,"3,964",0.102170,3
2,Medication,527,"10,819",1.000000,4
4,Problem,432,"4,077",0.989698,5
5,Procedure,580,"30,284",0.000000,6
8,Result,541,"60,363",1.000000,7
7,Vital Signs,378,"3,045",0.000000,8

In [131]:
alr = data('Allergy_SbCS')
alr

,KPI,Sb_Text,%_Sb_Text,SC,%_SC,SCS,%_SCS,R_Text,%_R_Text,RC,%_RC,RCS,%_RCS,Sv_Text,%_Sv_Text,SVC,%_SVC,SVCS,%_SVCS
0,Present,657,0.749145,592,0.898331,0,0.000000,274,0.415781,360,0.546282,659,1,110,0.16692,112,0.169954,112,0.169954
1,Missing,218,0.248575,0,0.000000,67,0.101669,0,0.000000,299,0.453718,0,0,0,0.00000,547,0.830046,547,0.830046
2,No Known Drug Allergies,2,0.002281,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
3,2.16.840.1.113883.6.88,0,0.000000,0,0.000000,458,0.694992,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
4,2.16.840.1.113883.6.96,0,0.000000,0,0.000000,134,0.203338,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
5,No known active allergies,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
6,OTH,0,0.000000,50,0.075873,0,0.000000,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
7,Tags,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
8,UNK,0,0.000000,17,0.025797,0,0.000000,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
9,with Othe_Narrative_UNK,0,0.000000,0,0.000000,0,0.000000,385,0.584219,0,0.000000,0,0,549,0.83308,0,0.000000,0,0.000000

In [132]:
alr['KPI'] = np.where(alr['KPI'].str.contains('2.16'), 'Present', alr['KPI'])
alr = alr.groupby('KPI', as_index=False).sum()
alr

,KPI,Sb_Text,%_Sb_Text,SC,%_SC,SCS,%_SCS,R_Text,%_R_Text,RC,%_RC,RCS,%_RCS,Sv_Text,%_Sv_Text,SVC,%_SVC,SVCS,%_SVCS
0,Missing,218,0.248575,0,0.000000,67,0.101669,0,0.000000,299,0.453718,0,0,0,0.00000,547,0.830046,547,0.830046
1,No Known Drug Allergies,2,0.002281,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
2,No known active allergies,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
3,OTH,0,0.000000,50,0.075873,0,0.000000,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
4,Present,657,0.749145,592,0.898331,592,0.898331,274,0.415781,360,0.546282,659,1,110,0.16692,112,0.169954,112,0.169954
5,Tags,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
6,UNK,0,0.000000,17,0.025797,0,0.000000,0,0.000000,0,0.000000,0,0,0,0.00000,0,0.000000,0,0.000000
7,with Othe_Narrative_UNK,0,0.000000,0,0.000000,0,0.000000,385,0.584219,0,0.000000,0,0,549,0.83308,0,0.000000,0,0.000000

In [133]:
# alr.loc[alr['KPI'].isin(['Present', 'pre']), 'KPI'] = 'Present'
# alr

In [134]:
alr.columns
alr.rename(columns=({'KPI':'Observation'}), inplace=True)
alr.columns

Index(['KPI', 'Sb_Text', '%_Sb_Text', 'SC', '%_SC', 'SCS', '%_SCS', 'R_Text',
       '%_R_Text', 'RC', '%_RC', 'RCS', '%_RCS', 'Sv_Text', '%_Sv_Text', 'SVC',
       '%_SVC', 'SVCS', '%_SVCS'],
      dtype='object')

Index(['Observation', 'Sb_Text', '%_Sb_Text', 'SC', '%_SC', 'SCS', '%_SCS',
       'R_Text', '%_R_Text', 'RC', '%_RC', 'RCS', '%_RCS', 'Sv_Text',
       '%_Sv_Text', 'SVC', '%_SVC', 'SVCS', '%_SVCS'],
      dtype='object')

In [135]:
alr_sb_Text = alr[(alr.Sb_Text != 0)][['Observation', 'Sb_Text', '%_Sb_Text']].reset_index()
alr_sb_Text.drop('index', axis=1, inplace=True)
alr_sb_Text

alr_SC = alr[(alr.SC != 0)][['Observation', 'SC', '%_SC']].reset_index()
alr_SC.drop('index', axis=1, inplace=True)
alr_SC
alr_SCS = alr[(alr.SCS != 0)][['Observation', 'SCS', '%_SCS']].reset_index()
alr_SCS.drop('index', axis=1, inplace=True)
alr_SCS
alr_R_Text = alr[(alr.R_Text != 0)][['Observation', 'R_Text', '%_R_Text']].reset_index()
alr_R_Text.drop('index', axis=1, inplace=True)
alr_R_Text
alr_RC = alr[(alr.RC != 0)][['Observation', 'RC', '%_RC']].reset_index()
alr_RC.drop('index', axis=1, inplace=True)
alr_RC
alr_RCS = alr[(alr.RCS != 0)][['Observation', 'RCS', '%_RCS']].reset_index()
alr_RCS.drop('index', axis=1, inplace=True)
alr_RCS
alr_Sv_Text = alr[(alr.Sv_Text != 0)][['Observation', 'Sv_Text', '%_Sv_Text']].reset_index()
alr_Sv_Text.drop('index', axis=1, inplace=True)
alr_Sv_Text
alr_SVC = alr[(alr.SVC != 0)][['Observation', 'SVC', '%_SVC']].reset_index()
alr_SVC.drop('index', axis=1, inplace=True)
alr_SVC
alr_SVCS = alr[(alr.SVCS != 0)][['Observation', 'SVCS', '%_SVCS']].reset_index()
alr_SVCS.drop('index', axis=1, inplace=True)
alr_SVCS

               Observation  Sb_Text  %_Sb_Text
0                  Missing      218   0.248575
1  No Known Drug Allergies        2   0.002281
2                  Present      657   0.749145

  Observation   SC      %_SC
0         OTH   50  0.075873
1     Present  592  0.898331
2         UNK   17  0.025797

  Observation  SCS     %_SCS
0     Missing   67  0.101669
1     Present  592  0.898331

               Observation  R_Text  %_R_Text
0                  Present     274  0.415781
1  with Othe_Narrative_UNK     385  0.584219

  Observation   RC      %_RC
0     Missing  299  0.453718
1     Present  360  0.546282

  Observation  RCS  %_RCS
0     Present  659      1

               Observation  Sv_Text  %_Sv_Text
0                  Present      110    0.16692
1  with Othe_Narrative_UNK      549    0.83308

  Observation  SVC     %_SVC
0     Missing  547  0.830046
1     Present  112  0.169954

  Observation  SVCS    %_SVCS
0     Missing   547  0.830046
1     Present   112  0.169954

In [138]:
path=r"C:\Users\VACOAzizS1\Documents\Python Scripts\Colonoscopy"
p_path = path + "/" + "U Vermont for PowerBI.xlsx"
p_path

with pd.ExcelWriter(p_path, engine='openpyxl') as w:   
    doc.to_excel(w, sheet_name = "doc", index=False)
    alr.to_excel(w, sheet_name = "alr", index=False)
    alr_sb_Text.to_excel(w, sheet_name = "alr_sb_Text", index=False)
    alr_SC.to_excel(w, sheet_name = "alr_SC", index=False)
    alr_SCS.to_excel(w, sheet_name = "alr_SCS", index=False)
    alr_R_Text.to_excel(w, sheet_name = "alr_R_Text", index=False)
    alr_RC.to_excel(w, sheet_name = "alr_RC", index=False)
    alr_RCS.to_excel(w, sheet_name = "alr_RCS", index=False)
    alr_Sv_Text.to_excel(w, sheet_name = "alr_Sv_Text", index=False)
    alr_SVC.to_excel(w, sheet_name = "alr_SVC", index=False)
    alr_SVCS.to_excel(w, sheet_name = "alr_SVCS", index=False)

'C:\\Users\\VACOAzizS1\\Documents\\Python Scripts\\Colonoscopy/U Vermont for PowerBI.xlsx'

In [150]:
imm = data('Imm_IC_ICS_Ltn_Text_date')
imm
imm = imm[imm.KPI != 'Total']
imm

,KPI,IC,%_IC,ICS,%_ICS,Ltn,%_Ltn,Imm_Text,%_Imm_Text,Admn_date,%_Admn_date
0,Total,3964.0,1.000000,3964.0,1.000000,3964.0,1.000000,3964.0,1.0,3964.0,1.000000
1,Present,3948.0,0.995964,3963.0,0.999748,991.0,0.250000,3964.0,1.0,3937.0,0.993189
2,TST-PPD intradermal,15.0,0.003784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OTH,1.0,0.000252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Missing,NaN,NaN,1.0,0.000252,2946.0,0.743189,NaN,NaN,NaN,NaN
5,UNK,NaN,NaN,NaN,NaN,27.0,0.006811,NaN,NaN,27.0,0.006811

,KPI,IC,%_IC,ICS,%_ICS,Ltn,%_Ltn,Imm_Text,%_Imm_Text,Admn_date,%_Admn_date
1,Present,3948.0,0.995964,3963.0,0.999748,991.0,0.250000,3964.0,1.0,3937.0,0.993189
2,TST-PPD intradermal,15.0,0.003784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OTH,1.0,0.000252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Missing,NaN,NaN,1.0,0.000252,2946.0,0.743189,NaN,NaN,NaN,NaN
5,UNK,NaN,NaN,NaN,NaN,27.0,0.006811,NaN,NaN,27.0,0.006811

In [151]:
imm['KPI'] = np.where(imm['KPI'].str.contains('2.16'), 'Present', imm['KPI'])
imm = imm.groupby('KPI', as_index=False).sum()
imm
imm.columns
imm.rename(columns=({'KPI':'Observation'}), inplace=True)
imm.columns
imm

,KPI,IC,%_IC,ICS,%_ICS,Ltn,%_Ltn,Imm_Text,%_Imm_Text,Admn_date,%_Admn_date
0,Missing,0.0,0.000000,1.0,0.000252,2946.0,0.743189,0.0,0.0,0.0,0.000000
1,OTH,1.0,0.000252,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
2,Present,3948.0,0.995964,3963.0,0.999748,991.0,0.250000,3964.0,1.0,3937.0,0.993189
3,TST-PPD intradermal,15.0,0.003784,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
4,UNK,0.0,0.000000,0.0,0.000000,27.0,0.006811,0.0,0.0,27.0,0.006811

Index(['KPI', 'IC', '%_IC', 'ICS', '%_ICS', 'Ltn', '%_Ltn', 'Imm_Text',
       '%_Imm_Text', 'Admn_date', '%_Admn_date'],
      dtype='object')

Index(['Observation', 'IC', '%_IC', 'ICS', '%_ICS', 'Ltn', '%_Ltn', 'Imm_Text',
       '%_Imm_Text', 'Admn_date', '%_Admn_date'],
      dtype='object')

,Observation,IC,%_IC,ICS,%_ICS,Ltn,%_Ltn,Imm_Text,%_Imm_Text,Admn_date,%_Admn_date
0,Missing,0.0,0.000000,1.0,0.000252,2946.0,0.743189,0.0,0.0,0.0,0.000000
1,OTH,1.0,0.000252,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
2,Present,3948.0,0.995964,3963.0,0.999748,991.0,0.250000,3964.0,1.0,3937.0,0.993189
3,TST-PPD intradermal,15.0,0.003784,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000
4,UNK,0.0,0.000000,0.0,0.000000,27.0,0.006811,0.0,0.0,27.0,0.006811

In [152]:
imm_Imm_Text = imm[(imm.Imm_Text != 0)][['Observation', 'Imm_Text', '%_Imm_Text']].reset_index()
imm_Imm_Text.drop('index', axis=1, inplace=True)
imm_Imm_Text

imm_IC = imm[(imm.IC != 0)][['Observation', 'IC', '%_IC']].reset_index()
imm_IC.drop('index', axis=1, inplace=True)
imm_IC
imm_ICS = imm[(imm.ICS != 0)][['Observation', 'ICS', '%_ICS']].reset_index()
imm_ICS.drop('index', axis=1, inplace=True)
imm_ICS

imm_Ltn = imm[(imm.Ltn != 0)][['Observation', 'Ltn', '%_Ltn']].reset_index()
imm_Ltn.drop('index', axis=1, inplace=True)
imm_Ltn

imm_Admn_date = imm[(imm.Admn_date != 0)][['Observation', 'Admn_date', '%_Admn_date']].reset_index()
imm_Admn_date.drop('index', axis=1, inplace=True)
imm_Admn_date

  Observation  Imm_Text  %_Imm_Text
0     Present    3964.0         1.0

           Observation      IC      %_IC
0                  OTH     1.0  0.000252
1              Present  3948.0  0.995964
2  TST-PPD intradermal    15.0  0.003784

  Observation     ICS     %_ICS
0     Missing     1.0  0.000252
1     Present  3963.0  0.999748

  Observation     Ltn     %_Ltn
0     Missing  2946.0  0.743189
1     Present   991.0  0.250000
2         UNK    27.0  0.006811

  Observation  Admn_date  %_Admn_date
0     Present     3937.0     0.993189
1         UNK       27.0     0.006811

In [153]:
path=r"C:\Users\VACOAzizS1\Documents\Python Scripts\Colonoscopy"
p_path = path + "/" + "U Vermont for PowerBI.xlsx"
p_path

with pd.ExcelWriter(p_path, engine='openpyxl') as w:   
    doc.to_excel(w, sheet_name = "doc", index=False)
    alr.to_excel(w, sheet_name = "alr", index=False)
    alr_sb_Text.to_excel(w, sheet_name = "alr_sb_Text", index=False)
    alr_SC.to_excel(w, sheet_name = "alr_SC", index=False)
    alr_SCS.to_excel(w, sheet_name = "alr_SCS", index=False)
    alr_R_Text.to_excel(w, sheet_name = "alr_R_Text", index=False)
    alr_RC.to_excel(w, sheet_name = "alr_RC", index=False)
    alr_RCS.to_excel(w, sheet_name = "alr_RCS", index=False)
    alr_Sv_Text.to_excel(w, sheet_name = "alr_Sv_Text", index=False)
    alr_SVC.to_excel(w, sheet_name = "alr_SVC", index=False)
    alr_SVCS.to_excel(w, sheet_name = "alr_SVCS", index=False)
    
    imm.to_excel(w, sheet_name = "imm", index=False)
    imm_Imm_Text.to_excel(w, sheet_name = "imm_Imm_Text", index=False)
    imm_IC.to_excel(w, sheet_name = "imm_IC", index=False)
    imm_ICS.to_excel(w, sheet_name = "imm_ICS", index=False)
    imm_Ltn.to_excel(w, sheet_name = "imm_Ltn", index=False)
    imm_Admn_date.to_excel(w, sheet_name = "imm_Admn_date", index=False)

'C:\\Users\\VACOAzizS1\\Documents\\Python Scripts\\Colonoscopy/U Vermont for PowerBI.xlsx'

In [33]:
xls = pd.ExcelFile(file_path)
xls.sheet_names
# dir(xls)

['Unique and Total Records',
 'Avalable PAMPI Records',
 'Imm_IC_ICS_Ltn_Text_date',
 'Imm_Text_Ctgry',
 'Med_MC_MCS_Ltn_T',
 'Med_Status',
 'Med_text_SIG',
 'top3_Imm',
 'top3_DME',
 'top3_Medications_No_SIG',
 'Allergy_SbCS',
 'Problem_CS',
 'Problem_Text_Category',
 'Procedure CS',
 'Procedure_CSN_Value',
 'Result_TestText_CS']

In [28]:
file_path = 'U Vermont_2023_01_02_v1_Metrics_Aziz.xlsx'
all_worksheet_data=read_all_worksheet(file_path)

for sheet_name in all_worksheet_data.keys():
    print(sheet_name)

AttributeError: 'list' object has no attribute 'keys'

In [ ]:
alr = pd.read_excel(U Vermont_2023_01_02_v1_Metrics_Aziz.xlsx)

In [27]:
dir(all_worksheet_data)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']